.ver-mess{
    padding: 10px;
    background-color: #0b56a6; /* Red */
    color: white;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
  }

  .error-mess{
    padding: 10px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    border-radius: 10px;
  }